<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skin Cancer Detection</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/all.min.css" />
    <link rel="shortcut icon" href="../static/img/fav-icon.svg" type="image/x-icon" />
  </head>
  <body>
    <header>
      <a href="{{ url_for('home') }}" class="logo"><i class="fas fa-hospital"></i>SkinCare</a>

      <nav class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">Skin Cancer Information</a>
        <a href="{{ url_for('prevention') }}">Prevention</a>
        <a href="{{ url_for('riskFactor') }}">Risk Factors</a>
        <a href="{{ url_for('earlyDetection') }}">Early Detection</a>
        <a href="{{ url_for('classify') }}">Classify</a>
      </nav>
    </header>

    <!-- <section class="prevention">
      <div class="preventionContainer">
        <h2 class="prevention-header">May Is Skin Cancer Awareness Month!</h2>
        <ul>
          <li>#SharetheFacts with the Skin Cancer Awareness Toolkit</li>
          <li>Find out what you need to know about skin cancer</li>
          <li>Understand how to spot skin cancer early</li>
          <li>Are you at risk skin cancer? Find out.</li>
          <li>Learn how to protect yourself</li>
          <li>Share Your #ThisIsSkinCancer story</li>
        </ul>
      </div>
    </section>
  </body>
</html> -->


<section class="hero">
  <div class="hero-container">
    <h1>May Is Skin Cancer Awareness Month!</h1>
    <p>Join us in raising awareness about skin cancer and its prevention.</p>
    <a href="#" class="cta-button">Learn More</a>
  </div>
</section>

<section class="prevention">
  <div class="prevention-container">
    <h2>Prevention</h2>
    <ul>
      <li>#SharetheFacts with the Skin Cancer Awareness Toolkit</li>
      <li>Find out what you need to know about skin cancer</li>
      <li>Understand how to spot skin cancer early</li>
      <li>Are you at risk skin cancer? Find out.</li>
      <li>Learn how to protect yourself</li>
      <li>Share Your #ThisIsSkinCancer story</li>
    </ul>
  </div>
</section>

<footer class="licence">
  <p>Copyright © 2023 Skin Cancer Awareness.
  All rights reserved.</p>
</footer>
</body>
</html>
